In [40]:
chaine = "12345!A"
def is_number_valid(number) :
    carracters_speciaux = [".", "&", "!", "@", "$", "%", "^", "*", "(", ")", "_", "-", "+", "=", "{", "}", "[", "]", "|", "\\", ":", ";", "'", '"', "<", ">", ",", "?", "/", " "]
    have_digit = False
    if not str(number).isupper() :
        return False
    if len(number) != 7:
        return False
    for i in range(10):
        for car in str(number) :
            if car == str(i) :
                have_digit = True
                break
    for car in str(number) :
        if car in carracters_speciaux :
            return False
    if have_digit ==  False :
        return False
    return True

    
is_number_valid(chaine)

False

In [60]:
def is_first_name(first_name):
    if len(str(first_name)) < 3 :
        return False
    if  not str(first_name[0]).isupper() :
        return False
    lettre_in_first_name = []
    for car in str(first_name) :
        if not car.isdigit() :
            lettre_in_first_name.append(car)
    if len(lettre_in_first_name) < 3:
        return False
    return True

fn = "jjj2"
is_first_name(fn)

False

In [201]:
def format_date(date):
    date_month_digit = {
        "janvier" : "01",
        "fevrier" : "02",
        "mars" : "03",
        "avril" : "04",
        "mai" : "05",
        "juin" : "06",
        "juillet" : "07",
        "aout" : "08",
        "septembre" : "09",
        "octobre" : "10",
        "novembre" : "11",
        "decembre" : "12"
    }
    date = date.replace("-", "/")
    date = date.replace(":", "/")
    date = date.replace(",", "/")
    date = date.replace("|", "/")
    date = date.replace(" ", "/")
    
    
    splited_date_list = date.split("/")
    print(splited_date_list)
    
    
    if len(splited_date_list[0]) == 1:
        splited_date_list[0] = "0" + splited_date_list[0]
    if len(splited_date_list[2]) == 4 :
        splited_date_list[2] = splited_date_list[2][-2:]

    for key in date_month_digit.keys():
        month = splited_date_list[1]
        digit_month = date_month_digit[key]
        if key == month.lower():
            splited_date_list[1] = digit_month
            
    if len(splited_date_list[1]) == 1:
        splited_date_list[1] = "0" + splited_date_list[1]
        
        
        
    if int(splited_date_list[1]) > 12 and int(splited_date_list[0]) < 31 :
        splited_date_list[0], splited_date_list[1] = splited_date_list[1], splited_date_list[0]
        

        
    print(splited_date_list)
    jour, mois,annee = splited_date_list
    date = str(jour) + "/" + str(mois) + "/" + str(annee)
    return date

date = format_date("1,avril,2004")
date

['1', 'avril', '2004']
['01', '04', '04']

'01/04/04'

In [215]:
def is_date_valid(date):
    date_month_digit = {
        "janvier" : "01",
        "fevrier" : "02",
        "mars" : "03",
        "avril" : "04",
        "mai" : "05",
        "juin" : "06",
        "juillet" : "07",
        "aout" : "08",
        "septembre" : "09",
        "octobre" : "10",
        "novembre" : "11",
        "decembre" : "12"
    }
    date = date.replace("-", "/")
    date = date.replace(":", "/")
    date = date.replace(",", "/")
    date = date.replace(" ", "/")
    date = date.split('/')
    
    jour, mois ,annee = date
    
    if not jour.isdigit() or not annee.isdigit():
        return False
    
    if mois.isdigit() :
        if int(mois) > 12:
            return False
    elif mois.lower() not in date_month_digit.keys() :
        return False
    if int(jour) > 30:
        return False
    return True

is_date_valid("30/04/0000")

True

In [223]:
def format_classe(classe):
    classe = classe.strip()
    classe = classe.replace(" ", "")
    classe = classe.replace("ieme", "e")
    classe = classe.replace("eme", "e")
    classe = classe.replace("Ã¨me", "e")
    classe = classe.replace("em", "e")
    return classe
format_classe("     3iemeB")

'3eB'

In [225]:
def is_class_valid(classe):
    classe = classe.strip()
    grades = ["6", "5", "3"]
    lettres = ["A","B", "C", "D"]
    if classe[0] not in grades:
        return False
    if classe[-1] not in lettres:
        return False
    return True

is_class_valid("      3 em A")

False

In [288]:
def format_note(matiers) -> dict:
    notes = {
        "devoirs" : {},
        "exam" : {}
    }
    matiers = matiers.split("#")
    for matier in matiers :
        nom_matier = ""
        notes_matieres = []
        for car in matier:
            if car != "[":
                nom_matier += car
            else :
                notes_matieres =  matier.replace(nom_matier, "")
                notes_matieres =  notes_matieres.replace("[", "")
                notes_matieres =  notes_matieres.replace("]", "")
                break
        notes_matieres = notes_matieres.replace(" ", "")
        notes_matieres = notes_matieres.split(":")
        notes_devoir = notes_matieres[0]
        notes_devoir = notes_devoir.split("|")
        sum_note_devoir = 0
        for note in notes_devoir :
            note = note.replace(",", ".")
            sum_note_devoir = sum_note_devoir + float(note)
        note_exam = 0
        print(notes_matieres)
        if len(notes_matieres) == 2 :
            
            note_exam = notes_matieres[1]
        notes["devoirs"][nom_matier.upper()] = sum_note_devoir
        notes["exam"][nom_matier.upper()] = note_exam
        
    print(notes)
        
        # print(nom_matier, "--- >" , "Devoir :" , notes_devoir , "exam : ", note_exam )
                    
note = "Math[04|03:05] #Francais[15|16:14] #Anglais[15|16:17] #PC[04|03:07] #SVT[12|09:10] #HG[16|15:17]"

format_note(note)

['04|03', '05']
['15|16', '14']
['15|16', '17']
['04|03', '07']
['12|09', '10']
['16|15', '17']
{'devoirs': {'MATH': 7.0, 'FRANCAIS': 31.0, 'ANGLAIS': 31.0, 'PC': 7.0, 'SVT': 21.0, 'HG': 31.0}, 'exam': {'MATH': '05', 'FRANCAIS': '14', 'ANGLAIS': '17', 'PC': '07', 'SVT': '10', 'HG': '17'}}

In [14]:
from app import App
app = App()
app.data_to_json()

       Code  ...                                              Notes
0    AAD003  ...  {'devoirs': {'MATH': 24.0, 'FRANCAIS': 25.0, '...
1    AAD003  ...  {'devoirs': {'MATH': 18.0, 'FRANCAIS': 28.0, '...
2    AAD003  ...  {'devoirs': {'MATH': 17.0, 'FRANCAIS': 21.0, '...
3    AAD003  ...  {'devoirs': {'MATH': 17.0, 'FRANCAIS': 31.0, '...
4    AAD003  ...  {'devoirs': {'MATH': 39.5, 'FRANCAIS': 29.0, '...
..      ...  ...                                                ...
215  BNT021  ...  {'devoirs': {'SVT': 24.0, 'PC': 25.0, 'FRANCAI...
216  BNT021  ...                                                 {}
217  BNT021  ...  {'devoirs': {'SVT': 19.0, 'PC': 22.0, 'FRANCAI...
218  BNT021  ...  {'devoirs': {'SVT': 23.0, 'PC': 33.0, 'FRANCAI...
219  BNT021  ...  {'devoirs': {'SVT': 35.0, 'PC': 27.0, 'FRANCAI...

[220 rows x 7 columns]

False

In [16]:
di = {
    
}
di["q"] = "q"
di

{'q': 'q'}